#chicken{
	background-color: pink;
}

#beef{
	background-color: green;
}

#sushi{
	background-color: pink; 
}

.row{
	margin:10px;
}

.content{
	margin:10px;
	width:auto;
	height:auto;
}

.row{
	margin:10 px;
}

.coltit{
	text-align:center;
}

.coninfo{

	text-align:justify;
}
