.title{
	color:green;
	font-size: 40px;
	text-align: center;
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
}
.table{
	display:table;
	clear: both;
}
.atmos{
	background-color: black
}	
.litho{
	background-color: violet
}
.hydro{
	background-color: black
}
.col{
	float:left;
	box-sizing:border-box;
	border:black;
	width:30%;
	margin:10px;
	border-bottom: solid orange;
	border-left: solid orange;
	border-top: solid orange;
	border-right: solid orange;
}

.coltit{
	margin-top: 0;
	float: right;
	border:black;
	width:40%;


}
.atmos_tit{
	color:red;
	background-color: yellow;
	border-left:solid orange;
	border-bottom: solid orange;
	


}
.litho_tit{
	color:pink;
	background-color: brown;
	border-left:solid orange;
	border-bottom: solid orange;
}
.hydro_tit{
	color:red;
	background-color: yellow;
	border-left:solid orange;
	border-bottom: solid orange;
}	
.atmos_in{
	color: white;
	text-align: justify;
	margin: 30px;
	margin-top: 50px;

}	
	
.litho_in{
	color: black;
	text-align: justify;
	margin: 30px;
	margin-top: 50px;
}
.hydro_in{
	color: white;
	text-align: justify;
	margin: 45px;
	margin-top: 50px;	
}
@media (min-width: 991px){
	.atmos,.litho,.hydro{
		width:30%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.atmos,.litho{
		width: 45%;

	}
	.hydro{
		width:93%;
	}

}

@media (max-width: 767px) {
	.atmos,.litho,.hydro{
		width:90%;
	}